{% extends 'layout.html' %}

{%load static%}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link href="home.css" rel="stylesheet" type="text/css" />

    {% block title %}
  <title>gallery</title>
 {% endblock%}
  {% block content %}
</head>


<div class="main-wrapper ">
<section class="page-title bga">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white">Some of the glimpses</span>
          <h1 class="text-capitalize mb-4 text-lg">Gallery</h1>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="#" class="text-white-50">Gallery</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- section portfolio start -->
<section class="section portfolio pb-0">
	<div class="container">
		<div class="row justify-content-center" 	>
			<div class="col-lg-7 text-center">
				<div class="section-title">
					<span class="h6 text-color">Our Memory</span>
					<h2 class="mt-3 content-title ">We have done lots of works, lets check some</h2>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row portfolio-gallery">
			<div class="col-lg-4 col-md-6">
				<div class="portflio-item position-relative mb-4">
					<a href="{% static 'images/sushi.jpg'%}" class="popup-gallery">
						<img src="{% static 'images/sushi.jpg'%}" alt="" class="img-fluid w-100" style="height: 240px;">


						<div class="portfolio-item-content">
							<h3 class="mb-0 text-white">Sushi and Continental Cook's Interview</h3>
							<p class="text-white-50">Saudi Arabia</p>
						</div>
					</a>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="portflio-item position-relative mb-4">
					<a href="{% static 'images/baharain.jpg'%}" class="popup-gallery">
						<img src="{% static 'images/baharain.jpg'%}" alt="" class="img-fluid w-100" style="height: 240px;">


						<div class="portfolio-item-content">
							<h3 class="mb-0 text-white">Bahraini Company HR Owner and Manager's</h3>
							<p class="text-white-50">TIA,Nepal</p>
						</div>
					</a>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="portflio-item position-relative mb-4">
					<a href="{% static 'images/house.jpg'%}" class="popup-gallery">
						<img src="{% static 'images/house.jpg'%}" alt="" class="img-fluid w-100" style="height: 240px;">


						<div class="portfolio-item-content">
							<h3 class="mb-0 text-white">Housekeeping Interview</h3>
							<p class="text-white-50">Romania</p>
						</div>
					</a>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="portflio-item position-relative mb-4">
					<a href="{% static 'images/minister.jpg'%}" class="popup-gallery">
						<img src="{% static 'images/minister.jpg'%}" alt="" class="img-fluid w-100" style="height: 240px;">


						<div class="portfolio-item-content">
							<h3 class="mb-0 text-white">With Former labor minister of Nepal</h3>
							<p class="text-white-50">Nepal</p>
						</div>
					</a>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="portflio-item position-relative  mb-4">
					<a href="{% static 'images/japan.jpg'%}" class="popup-gallery">
						<img src="{% static 'images/japan.jpg'%}" alt="" class="img-fluid w-100" style="height: 240px;">


						<div class="portfolio-item-content">
							<h3 class="mb-0 text-white">JITCO Program</h3>
							<p class="text-white-50">Japan</p>
						</div>
					</a>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="portflio-item position-relative mb-4">
					<a href="{% static 'images/labor.jpg'%}" class="popup-gallery">
						<img src="{% static 'images/labor.jpg'%}" alt="" class="img-fluid w-100" style="height: 240px;">


						<div class="portfolio-item-content">
							<h3 class="mb-0 text-white">Attending Meeting in Labour Ministry office</h3>
							<p class="text-white-50">Nepal</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock%}



