{% extends 'layout.html' %}

{%load static%}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link href="home.css" rel="stylesheet" type="text/css" />

    {% block title %}
  <title>req_doc</title>
    {% endblock%}
  {% block content %}
</head>


<div class="main-wrapper ">
<section class="page-title bga">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white">Some of the glimpses</span>
          <h1 class="text-capitalize mb-4 text-lg">Gallery</h1>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="#" class="text-white-50">Required Documents</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


</div>


<hr>


<section class="d-flex mt-5">

  <div class="container col-md-6 offset-md-1">
    <div>
     <h4>Demand Letter</h4>
     <p>
       Briefing all details regarding the categories and quantities required. Please prepare this letter in company head with complete seal and signature and attest this document first from the "Chamber of Commerce and Industry" of the concerned country and the Nepalese Embassy.
     </p>
   </div>

   <div>

    <h4>Power of Attorney / Authorization Letter</h4>
     <p>
      Authorizing the Agent in Nepal to act on the employer's behalf. Please prepare this letter in company head with complete seal and signature and attest this document first from the "Chamber of Commerce and Industry" of the concerned country and the Nepalese Embassy.


   </div>


    <div>

    <h4>Service Agreement</h4>
     <p>
     Briefing the terms and conditions applicable to both the parties. Please prepare this letter in company head with complete seal and signature and attest this document first from the "Chamber of Commerce and Industry" of the concerned country and the Nepalese Embassy.


   </div>


    <div>

    <h4>Contract Paper</h4>
     <p>
    Job Offer Agreement for the candidate provided by the company showing salary and other benefits including food, accommodation, transportation, leave facilities, medical facilities, insurance and air passage etc. Please prepare this letter in company head with complete seal and signature.

   </div>


    <div>

    <h4>Guarantee Letter</h4>
     <p>
    Providing guarantee to the Ministry of Labour, Nepal, stating that the stated workers will be working as per the attested documents provided. Please prepare this letter in company head with complete seal and signature.
   </div>


    <div>

    <h4> Consular Letter:</h4>
     <p>
   Authority provided to the Agent in Nepal to act on employer's behalf in the country where the embassy is located. Please prepare this letter in Company's letter head with complete seal and signature and then attest this document first from the "Chamber of Commerce & Industry of the concerned country", " Ministry of Foreign Affairs" and the "Royal Nepalese Embassy"
   </div>





  </div>





  <div class="col-md-4">

    <div>
      <h5>News</h5>
    <div>
      <div>
        <ul>
            <li>
              <a href="#" >

              <p>Recognized Destination</p></a>
            </li>

            <li>
              <a href="#">
                <p>List Of Embassy of Nepal</p></a>
            </li>
            <li>
              <a href="#">
                <p>Interview Procedure</p></a>
            </li>

        </ul>


      </div>


  </div>


</section>

{%endblock%}